@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="layoutContainer noPrintIfModal text-center" style="padding-left:20px;padding-right:20px;border:2px solid gray;font-size:12px;">
    <h3 class="text-danger">Welcome to the PCYS scheduling application</h3>
    <p class="lead">Use the calendar below to search for dates and times of practices, games, and other events at the PCYS facility. You can use the filtering buttons in the list to refine your search.</p>
</div>
<br />
<div id="calendar">
    @await this.Component.InvokeAsync("Calendar")
</div>
