.calendar th {
    border: none;
}

.calendar table td, th {
    width: 130px;
}

.calendar table td {
    height: 130px;
}

.calendar table td {
}

.calendar-title {
    font-size: 30px;
    text-shadow: 1px 1px 2px grey;
}

.monthly-arrow {
    font-size: 70px;
    color: black;
    border: none;
    background-color: white;
}

.monthly-arrow:hover {
    cursor: pointer;
    color: red;
}

.right-arrow {
    display: block;
    float: right;
    margin-right: 50px;
}

.left-arrow {
    display: block;
    float: left;
    margin-left: 50px;
}

.arrow-disabled {
    color: darkgray !important;
}

.calendar a {
    text-decoration: none;
}

#weekly-button {
    vertical-align: middle;
}

.calendar-date {
    display: block;
    width: 30px;
    padding: 5px;
    border: 1px solid black;
}

.calendar .grey {
    background-color: darkgrey;
    opacity: 0.5;
}

.calendar .brown {
    background-color: rgb(196, 127, 91, 0.75) !important;
}

.calendar .current {
    background-color: lightskyblue !important;
}

.day-button {
    padding: 2px;
    width: 45%;
    max-height: 20px;
    border-radius: 0px;
    font-size: 12px;
    line-height: 15px;
}

.calendar .btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px red;
}

.field-name {
    writing-mode: vertical-rl;
    white-space: nowrap;
    transform: scale(1);
}

#grid-table {
    margin:auto;
    border-collapse:collapse;
    margin-top: -17px;
}

.fix-head {
    overflow-y: auto;
    height: 650px;
}

#grid-table thead th {
    position: sticky;
    top: -17px;
    background: darkgray;
    color: black;
}

#grid-table th:not(:first-child), #grid-table td:not(:first-child) {
    width: 4% !important;
}

#grid-table th:first-child, #grid-table td:first-child {
    width: 25% !important;
}
 #grid-table td a {
     display: block;
     position:relative;
     cursor: pointer;
     opacity:0;
 }

#grid-table td:hover {
    background:lightblue;
}

