.calendar th {
    border: none;
}

.calendar td, th {
    width: 12.5%;
}

.calendar td {
    height: 120px;
}

.calendar-title {
    font-size: 40px;
    text-shadow: 1px 1px 2px grey;
}

.calendar-title option:not(:checked) {
    font-size:20px;
}

.monthly-arrow {
    font-size: 70px;
    color: black;
    border: none;
    background-color: white;
}

.monthly-arrow:hover {
    cursor: pointer;
    color: red;
}

.right-arrow {
    display: block;
    float: right;
    margin-right: 50px;
}

.left-arrow {
    display: block;
    float: left;
    margin-left: 50px;
}

.arrow-disabled {
    color: darkgray !important;
}

.calendar a {
    text-decoration: none;
}

#weekly-button {
    vertical-align: middle;
}

.calendar-date {
    display: block;
    width: 30px;
    padding: 5px;
    border: 1px solid black;
}

.calendar .grey {
    background-color: darkgrey;
    opacity: 0.5;
}

.calendar .brown {
    background-color: rgb(196, 127, 91, 0.75) !important;
}

.calendar .current {
    background-color: lightskyblue !important;
}

.day-button {
    padding: 1px;
    width: 45%;
    max-height: 20px;
    border-radius: 0px;
    font-size: 12px;
    line-height: 15px;
}

.calendar .btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px red;
}

.field-name {
    writing-mode: vertical-rl;
    white-space: nowrap;
    transform: scale(1);
}

#grid-table {
    margin:auto;
    border-collapse:collapse;
    margin-top: -17px;
}

.fix-head {
    overflow-y: auto;
    height: 650px;
}

#grid-table thead th {
    position: sticky;
    top: -17px;
    background: darkgray;
    color: black;
}

#grid-table th:not(:first-child), #grid-table td:not(:first-child) {
    width: 4% !important;
}

#grid-table th:first-child, #grid-table td:first-child {
    width: 25% !important;
}
 #grid-table td a {
     display: block;
     position:relative;
     cursor: pointer;
     opacity:0;
 }

#grid-table td:hover {
    background:lightblue;
}

/* Mobile Calendar Styling */
@media (min-width: 1025px) {

    .calendar-full {
        visibility: visible !important;
    }
    .calendar-mobile {
        display: none !important;
    }
    .month-button {
        font-size:13px;
    }
}
@media (max-width: 1024px) {

    .calendar-full {
        display: none !important;
    }

    .calendar-mobile {
        visibility: visible !important;
        table-layout: fixed;
    }

    .calendar td {
        height: 75px;
    }

    .month-button {
        font-size: 14px;
    }

    .calendar-title {
        font-size: 30px !important;
    }

    .calendar-event {
        font-size: 12px;
    }

    .calendar-date {
        display: block;
        width: 30px;
        justify-content: center;
        border: none;
    }

    .right-arrow {
        font-size: 45px;
        display: block;
        float: right;
        margin-right: 0px;
    }

    .left-arrow {
        font-size: 45px;
        display: block;
        float: left;
        margin-left: 0px;
    }

    .table-format {
        border: none;
    }

    .clickable-cell {
        font-size: 12px;
        color: green;
    }

    .clickable-grid {
        font-size: 12px;
        color: darkblue;
    }

    .calendar-date {
        font-size: 16px;
        color: black;
    }
}

@media (max-width: 360px) {
    .clickable-cell {
        font-size: 9px;
    }

    .clickable-grid {
        font-size: 9px;
        color: darkblue;
    }

    .calendar-date {
        font-size: 14px;
        color: black;
    }
}
