@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    --red: #c9000a;
    --yellow: #d1932e;
}

html {
    font-size: 14px;
    background-color: #000000;
}

.week-button {
    font-size: 14px;
}

.button {
    color: white !important;
    line-height: 1.3;
    text-decoration: none;
    transition: background-color .2s;
    text-align: center;
}

.buttonRed {
    background-color: var(--red);
    border: solid var(--red) !important;
}

.buttonRedOutline {
    background-color: transparent !important;
    border: solid var(--red);
    color: black !important;
    box-shadow: none !important;
}

.buttonYellow {
    background-color: #d1932e;
    border: solid #d1932e;
    box-shadow: 0 -3px #d1932e inset;
}

.linkElement .buttonRed:after {
    color: #000000;
    font-family: FontAwesome;
    transition: color .2s;
}

.linkElement button {
    line-height: 1.3;
    display: inline-block;
    text-decoration: none;
    transition: background-color .2s;
}

.formSubmit {
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    transition: background-color .2s;
    width: 40%;
    background-color: #d1932e;
    box-shadow: 0 -3px #d1932e inset;
    padding: 10px 20px 10px 10px;
    margin-bottom: 0px;
    line-height: 1.3;
    font-weight: 400;
}

.linkElement a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 40%;
    background-color: var(--red);
    padding: 10px 20px 10px 10px;
    margin-bottom: 0px;
    line-height: 1.3;
}

.exemptAnchor a {
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    transition: background-color .2s;
    background-color: var(--red);
    box-shadow: 0 -3px #af0006 inset;
    padding: 0px 0px 4px 0px;
    margin-bottom: 0px;
    line-height: 1.3;
    text-align: center;
}

.site-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://cdn1.sportngin.com/attachments/background_graphic/7671/5260/Soccer_Feet_Ball_1-000000.png);
}

.site-banner-wrapper {
    min-height: 250px;
    background-image: url(https://cdn1.sportngin.com/attachments/banner_graphic/e421-170839586/banner.png);
    background-position: center;
}

.theme-nav-link {
    text-decoration: none;
}

.btn-link {
    color:white;
    font-size:inherit;
}

.select2-selection__placeholder {
    font-size: 13px !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.searchContainer {
    height: 60vh;
}

#logout-button:hover {
    background-color: red !important;
    transition: background-color 0.2s linear, top 0.2s linear;
}

#logout-button .btn-link:hover {
    color:white !important;
}

#logout-button .btn:focus {
    outline:none;
    box-shadow:none;
}

/* CSS style for custom minutes dropdown */
.custom-minutes-dropdown {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    width: 50px;
    display: none;
}

.custom-minutes-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-minutes-dropdown ul li {
    cursor: pointer;
    padding: 5px;
}

.custom-minutes-dropdown ul li:hover {
    background-color: #f8f9fa;
}

body::-webkit-scrollbar {
    width: 1rem;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

@media (max-width: 999px) {
    .site-banner-wrapper {
        min-height: 25.0vw;
    }
}

@media (min-width: 1000px) {
    .site-banner-wrapper {
        min-height: 250.0px;
    }
}

@media (min-width: 1025px){
    .theme-mobile-nav, .sidebarIconToggle {
        display: none;
    }
}
@media (max-width: 1024px) {
    #sn-site-logo, .theme-search-wrapper, #topNavPlaceholder, .theme-main-nav {
        display: none;
    }
    .theme-mobile-nav, .sidebarIconToggle {
        display: block;
    }
}