html {
    font-size: 14px;
    background-color: #000000;
}

.site-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://cdn1.sportngin.com/attachments/background_graphic/7671/5260/Soccer_Feet_Ball_1-000000.png);
}

.site-banner-wrapper {
    min-height: 250px;
    background-image: url(https://cdn1.sportngin.com/attachments/banner_graphic/e421-170839586/banner.png);
    background-position: center;
}

.theme-nav-link {
    text-decoration: none;
}

.btn-link {
    color:white;
    font-size:inherit;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.searchContainer {
    height: 60vh;
}

#logout-button:hover {
    background-color: red !important;
    transition: background-color 0.2s linear, top 0.2s linear;
}

#logout-button .btn-link:hover {
    color:white !important;
}

#logout-button .btn:focus {
    outline:none;
    box-shadow:none;
}

/* CSS style for custom minutes dropdown */
.custom-minutes-dropdown {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    width: 50px;
    display: none;
}

    .custom-minutes-dropdown ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .custom-minutes-dropdown ul li {
            cursor: pointer;
            padding: 5px;
        }

            .custom-minutes-dropdown ul li:hover {
                background-color: #f8f9fa;
            }

@media (max-width: 999px) {
    .site-banner-wrapper {
        min-height: 25.0vw;
    }
}

@media (min-width: 1000px) {
    .site-banner-wrapper {
        min-height: 250.0px;
    }
}

@media (min-width: 1025px){
    .theme-mobile-nav, .sidebarIconToggle {
        display: none;
    }
}
@media (max-width: 1024px) {
    #sn-site-logo, .theme-search-wrapper, #topNavPlaceholder, .theme-main-nav {
        display: none;
    }
    .theme-mobile-nav, .sidebarIconToggle {
        display: block;
    }
    .calendar-title, .monthly-arrow {
        font-size: 35px !important;
    }
}