@model IEnumerable<KeyValuePair<string, string>>

<div class="list-group">
    @foreach (var link in this.Model)
    {
        <a asp-action="@link.Key"
           class="list-group-item list-group-item-action @link.Value">
            @link.Key
        </a>
    }
</div>