@using Scheduler.Web.Controllers
@{
    ViewData["Title"] = "Admin Dashboard";
}

@model AdminDashboardViewModel


<div class="m-auto text-danger">
    <h1 class="text-center">
        @this.ViewData["Title"]
    </h1>
</div>


<hr />

@await Html.PartialAsync("~/Views/Shared/Tables/_EventTable.cshtml", Model.Events)

<hr />

@await Html.PartialAsync("~/Views/Shared/Tables/_FieldTable.cshtml", Model.Fields)

<hr />

@await Html.PartialAsync("~/Views/Shared/Tables/_TeamTable.cshtml", Model.Teams)

<hr />

@await Html.PartialAsync("~/Views/Shared/Tables/_UserTable.cshtml", Model.Users)

<hr />