@model Event

<div class="form-check mb-3">
    <input asp-for="IsBlackout" type="checkbox" class="form-check-input">
    <label asp-for="IsBlackout" class="form-check-label">Blackout Facility <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Use this to Schedule your Event to Occur on Every Field in the Facility."></i></label>
</div>