@model Field

@if (this.Model is not null)
{
    <input hidden asp-for="Id" />
}

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="row mb-3">
    <div class="col-6">
        <div class="linkElement">
            <a asp-action="Fields"
               asp-controller="Dashboard"
               class="buttonRed w-100">
                Cancel
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="linkElement">
            <button type="submit" class="formSubmit buttonGreen w-100">
                Submit
            </button>
        </div>
    </div>
</div>
