@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;

@inject ITeamRepository TeamRepository
@model Game

@{
    IEnumerable<SelectListItem> teamsSelect = (await this.TeamRepository
        .SearchAsync(new GetAllSpecification<Team>()))
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        }); 
}

<div class="row mb-3">
    <div class="col">
        <label asp-for="HomeTeamId" class="form-label"></label>
        <select title="Home Team" id="homeTeams" asp-for="HomeTeamId" class="form-select">
            <option value=""></option>
            @foreach (SelectListItem t in teamsSelect)
            {
                <option value=@t.Value>@t.Text</option>
            }
        </select>
        <span asp-validation-for="HomeTeamId" class="text-danger"></span>
    </div>
    <div class="col">
        <label asp-for="OpposingTeamId" class="form-label"></label>
        <select title="Opposing Team" id="opposingTeams" asp-for="OpposingTeamId" class="form-select">
            <option value=""></option>
            @foreach (SelectListItem t in teamsSelect)
            {
                <option value=@t.Value>@t.Text</option>
            }
        </select>
        <span asp-validation-for="OpposingTeamId" class="text-danger"></span>
    </div>
</div>

<script>
        $("#homeTeams").select2({
            placeholder: "Start typing to select a Team...",
            width: "100%"
        });

        $("#opposingTeams").select2({
            placeholder: "Start typing to select a Team...",
            width: "100%"
        });
</script>