@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;

@inject ITeamRepository TeamRepository
@model Game

@{
    IEnumerable<SelectListItem> teamsSelect = (await this.TeamRepository.SearchAsync(new AllSpecification<Team>()))
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        });
}

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="HomeTeamId" class="form-label"></label>
        <select asp-for="HomeTeamId" asp-items="teamsSelect" class="form-select"></select>
    </div>
    <div class="col-6">
        <label asp-for="OpposingTeamId" class="form-label"></label>
        <select asp-for="OpposingTeamId" asp-items="teamsSelect" class="form-select"></select>
    </div>
    <span asp-validation-for="OpposingTeamId" class="text-danger"></span>
</div>