@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;

@inject ITeamRepository TeamRepository
@model League

@{
    IEnumerable<SelectListItem> teams = (await this.TeamRepository
        .SearchAsync(new GetAllSpecification<Team>()))
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        });
}

@if (this.Model is not null)
{
    <input hidden asp-for="Id" />
}

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="row mb-3">
    <div class="col-6">
        <div class="linkElement">
            <a asp-action="Leagues"
               asp-controller="Dashboard"
               class="buttonRedOutline w-100">
                Cancel
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="linkElement">
            <button type="submit" class="formSubmit buttonGreen w-100">
                Submit
            </button>
        </div>
    </div>
</div>
