@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;

@inject ITeamRepository TeamRepository
@model Practice

@{
    IEnumerable<SelectListItem> teamsSelect = (await this.TeamRepository.SearchAsync(new AllSpecification<Team>()))
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        });
}

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="TeamId" class="form-label"></label>
        <select asp-for="TeamId" asp-items="teamsSelect" class="form-select"></select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>
</div>