@model SecurityViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (this.Model is not null)
{
    <input title="Current user" hidden asp-for="UserId" />
}

<div class="mb-3">
    <label asp-for="OldPassword" class="form-label"></label>
    <input asp-for="OldPassword" title="Old password" class="form-control" />
    <span asp-validation-for="OldPassword" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="NewPassword" class="form-label"></label>
    <input asp-for="NewPassword" title="New password" class="form-control" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ConfirmNewPassword" class="form-label"></label>
    <input asp-for="ConfirmNewPassword" title="Confirm new password" class="form-control" />
    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
</div>