@using Scheduler.ViewModels;

<label class="form-label">
    Save for...
</label>

<div class="form-check">
    <input title="Save for this event only" class="form-check-input" type="radio" name="updateType" value="@UpdateType.One">
    <label class="form-check-label">
        Just this event
    </label>
</div>
<div class="form-check">
    <input title="Save for this and all occurrences" class="form-check-input" type="radio" name="updateType" value="@UpdateType.All">
    <label class="form-check-label">
        All events
    </label>
</div>