<div class="row">
    <div class="col-12">
        <form id="eventForm" method="post">
            <div class="row mb-3">
                <h1 class="text-center text-danger">
                    Schedule <span id="title"></span>
                </h1>
                <hr />

                <div class="col-sm-4 mx-auto">
                    <div class="list-group list-group-horizontal">
                        @if (this.User.IsInRole(Role.ADMIN))
                        {                
                            <button type="button"
                                    id="Event"
                                    onclick="navClick('Event')"
                                    class="list-group-item list-group-item-action text-center">
                                Event
                            </button>
                        }
                        <button type="button"
                                id="Practice"
                                onclick="navClick('Practice')"
                                class="list-group-item list-group-item-action text-center">
                            Practice
                        </button>
                        <button type="button"
                                id="Game"
                                onclick="navClick('Game')"
                                class="list-group-item list-group-item-action text-center">
                            Game
                        </button>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await this.Html.PartialAsync("Forms/_EventInputs")
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/EventForm.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        @{
            string selectedNav = this.User.IsInRole(Role.ADMIN)
                    ? nameof(Event) : nameof(Practice);
        }

        document.onload = refreshNav('@selectedNav')
    </script>
}