@{
    string eventType = "";
    string pageTitle = "";
    if (User.IsInRole("Admin"))
    {
        eventType = this.ViewData["EventType"] as string ?? nameof(Event);
        pageTitle = $"Schedule {eventType}";
    }
    else
    {
        eventType = this.ViewData["EventType"] as string ?? nameof(Practice);
        pageTitle = $"Schedule {eventType} or Practice";
    }

    this.ViewData["Title"] = pageTitle;
}

<div class="row">
    <form id="EventForm"
          action="../@eventType/Create"
          method="post"
          class="col-12"
          autocomplete="off">

        <div class="row mb-3">
            <h1 class="text-center text-danger">
                @pageTitle
            </h1>
            <hr />

            <div class="col-sm-4 mx-auto">
                @await this.Html.PartialAsync("Navigation/_ScheduleNavbar")
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @await this.Html.PartialAsync("Forms/_EventInputs");
    </form>
</div>

@section Scripts {
    <script src="~/js/EventForm.js"></script>
    <partial name="_ValidationScriptsPartial" />
}