@{
    string eventType = this.ViewData["EventType"] as string ?? nameof(Event);
    string pageTitle = $"Reschedule {eventType}";

    this.ViewData["Title"] = pageTitle;
}

<div class="row">
    <form asp-action="Update@(eventType)"
          method="post"
          class="col-12">

        <h1 class="text-center text-danger">
            @pageTitle
        </h1>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @await this.Html.PartialAsync("Forms/_EventInputs")
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}