<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCYS Scheduler - @this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Calendar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MobileNavSlideOut.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body class="site-body itasca user_mode home v4">
    <div class="site-background"></div>
    <div id="topNav" class="has-site-logo topNav noPrintIfModal">
        <div id="sn-site-logo">
            <a class="sn-site-logo-wrap" asp-controller="Home" asp-action="Index">
                <span class="sn-site-logo-background" style="background-image: url(https://cdn1.sportngin.com/attachments/logo_graphic/f8ca-170838662/2022PCYSlogo_2COLORrednoS-Small_small.png);"></span>
            </a>
        </div>
        <div class="theme-search-wrapper">
            <div class="theme-search-bar">
                <span class="site-tagline-text">Portage County Youth Soccer</span>
            </div>
        </div>
        <div class="theme-main-nav">
            <ul class="theme-nav theme-nav-style-dropdown" data-nav-level="1">
                <li class="theme-nav-item">
                    <a class="theme-nav-link"
                       asp-controller="Home"
                       asp-action="Index">
                        Home
                    </a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
        <input type="checkbox" class="slideOutMenu" id="slideOutMenu" hidden />
        <label for="slideOutMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div class="theme-mobile-nav">
            <div class="theme-nav theme-nav-style-slide">
                <div class="theme-nav-menus">
                    <ul class="theme-nav-menu">
                        <li class="theme-nav-item">
                            <a class="theme-nav-link"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>
                        <partial name="_MobileLoginPartial" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="topNavPlaceholder" class="page-has-banner"></div>
        <div id="siteHeader">
        <div class="site-banner-wrapper">
            <div class="site-banner-text-wrapper"></div>
        </div>
    </div>
    <div id="siteContainer" class="container-fluid siteContainer">
        <div class="container">
            @this.RenderBody()
        </div>
    </div>

    <footer class="snFooterContainer">
        <div id="siteFooter">
            &copy; 2023 - PCYS
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/NavBar.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <style>
        .custom-tooltip .tooltip-inner {
            max-width: 500px;
        }
    </style>
    @await this.RenderSectionAsync("Scripts", false)
</body>
</html>
