@model Scheduler.ViewModels.ForgotPasswordViewModal

@{
    var message = this.ViewData["Message"] ?? "";
}

<h1>Forgot Password</h1>

<div class="row m-2">
    <div class="col-md-4">

        <p class="text-success">@message</p>

        <form asp-action="ForgotPassword" asp-controller="Identity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>