@using Scheduler.ViewModels;

@model ForgottenPasswordViewModal

@{
    this.ViewData["Title"] = "Forgot Password";

    var message = this.ViewData["Message"] as string ?? string.Empty;
}

<div class="row m-2">
    <div class="col-sm-6 mx-auto">
        <h1>Find Your Account</h1>

        <p class="text-success">@message</p>

        <form asp-action="ForgotPassword" asp-controller="Identity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Submit" class="formSubmit button buttonYellow w-25" />
            </div>
        </form>
    </div>
</div>