@using Scheduler.Web.Controllers;

@model LoginViewModel

@{
    this.ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            <h1 class="text-center text-danger">
                @this.ViewData["Title"]
            </h1>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email"
                       class="form-control"
                       autocomplete="email"
                       aria-required="true" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password"
                       class="form-control"
                       autocomplete="current-password"
                       aria-required="true" />

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="checkbox">
                    <input class="form-check-input" asp-for="PersistUser" />
                    <label asp-for="PersistUser" class="form-label">
                        Remember me?
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <a asp-action="ForgotPassword" asp-controller="Identity">Forgot Password?</a>
            </div>

            <div class="mb-3">
                <button id="login-submit"
                        type="submit"
                        class="btn btn-lg btn-primary w-100">
                    Log in
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
