@model ProfileViewModel

@{
    this.Layout = "Shared/_AccountLayout.cshtml";
    this.ViewData["Title"] = "Profile";
}

<form asp-action="Profile">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input hidden asp-for="UserId" value="@this.Model.UserId" />

    <div class="row mb-3">
        <div class="col-sm-6">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    @if (Model.currentUserIsAdmin)
    {
        <div class="form-check mb-3">
            <label asp-for="IsAdmin" class="form-check-label"></label>
            <input asp-for="IsAdmin" 
               class="form-check-input"
               type="checkbox" />
        </div>

        <input asp-for="currentUserIsAdmin" hidden />
    }

    <div class="row mb-3">
        <div class="col-6">
            <div class="linkElement">
                <a href="javascript:history.go(-1)"
                   class="button buttonRedOutline w-100">
                    Back
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="linkElement">
                <button type="submit" class="formSubmit button buttonYellow w-100">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>