@model RegisterViewModel

@{
    this.ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            <h1 class="text-center text-danger">
                @this.ViewData["Title"]
            </h1>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName"
                           class="form-control"
                           aria-required="true" />

                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName"
                           class="form-control"
                           aria-required="true" />

                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email"
                       class="form-control"
                       autocomplete="email"
                       aria-required="true" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label asp-for="IsAdmin" class="form-check-label"></label>
                <input asp-for="IsAdmin"
                       class="form-check-input"
                       type="checkbox"/>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="linkElement">
                        <a asp-action="Users"
                           asp-controller="Dashboard"
                           class="buttonRedOutline w-100">
                            Cancel
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="linkElement">
                        <button type="submit" class="formSubmit buttonGreen w-100">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
