@model Scheduler.ViewModels.ResetPasswordViewModel

<div class="row">
    <div class="col-sm-6 mx-auto">
        <h1>Reset Password</h1>

        <form asp-action="ResetPassword" asp-controller="Identity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input asp-for="Token" hidden/>
            <input asp-for="Email" hidden />
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>