@model SecurityViewModel

@{
    this.Layout = "Shared/_AccountLayout.cshtml";
}

<form asp-action="Security">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input hidden asp-for="UserId" value="@this.Model.UserId" />

    @await this.Html.PartialAsync("Forms/_ResetPasswordInputs", this.Model)

    <button class="btn btn-lg btn-primary w-100">
        Save
    </button>
</form>
