@model SecurityViewModel

@{
    this.Layout = "Shared/_AccountLayout.cshtml";
    this.ViewData["Title"] = "Security";
}

<form asp-action="Security">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input hidden asp-for="UserId" value="@this.Model.UserId" />

    @await this.Html.PartialAsync("Forms/_ResetPasswordInputs", this.Model)

    <div class="row mb-3">
        <div class="col-6">
            <div class="linkElement">
                <a href="javascript:history.go(-1)"
                   class="button buttonRedOutline w-100">
                    Back
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="linkElement">
                <button type="submit" class="formSubmit button buttonGreen w-100">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
