@model SecurityViewModel

@{
    this.Layout = "Shared/_AccountLayout.cshtml";
}

<form asp-action="Security">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input hidden asp-for="UserId" value="@this.Model.UserId" />

    @await this.Html.PartialAsync("Forms/_ResetPasswordInputs", this.Model)

    <div class="row mb-3">
        <div class="col-6">
            <div class="linkElement">
                <a asp-action="Users"
                   asp-controller="Dashboard"
                   class="buttonRed w-100">
                    Back to User List
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="linkElement">
                <button type="submit" class="formSubmit buttonGreen w-100">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
