@using Scheduler.Core.Services;

@model Game

@if (this.Model.HomeTeam is not null &&
     this.Model.OpposingTeam is not null)
{
    <p class="card-text">
        <h5>Who</h5>
        @this.Model.HomeTeam.Name vs. @this.Model.OpposingTeam.Name
    </p>
}