@using Scheduler.Web.Persistence;
@using Scheduler.Web.Extensions;

@inject SchedulerContext Scheduler
@model Practice

@{
	this.Model.Team ??= await this.Scheduler.GetAsync<Team>(this.Model.TeamId);
}

<p class="card-text">
	<h5>Who:</h5>
	@this.Model.Team.Name
</p>