@using Scheduler.Core.Models;

@model Event

@{
    this.ViewData["Title"] = "Schedule Event";
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <h1 class="text-center">
            @this.ViewData["Title"]
        </h1>
        <hr />

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control"/>
            <label asp-for="Name" class="form-label"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating">
                    <input asp-for="StartDate" type="datetime" class="form-control"/>
                    <label asp-for="StartDate" class="form-control"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input asp-for="EndDate" type="datetime" class="form-control"/>
                    <label asp-for="EndDate" class="form-control"/>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-check mb-3">
            <input asp-for="IsRecurring" type="checkbox" class="form-check-input">
            <label asp-for="IsRecurring" class="form-check-label"></label>
        </div>
    </div>
</div>