@model ScheduleViewModel

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="Event.Recurrence!.Type" class="form-label"></label>
        <select asp-for="Event.Recurrence!.Type"
                asp-items="@this.Html.GetEnumSelectList<RecurrenceType>()"
                class="form-control"></select>
    </div>
    <div class="col-6">
        <label asp-for="Event.Recurrence.Occurrences" class="form-label"></label>
        <input type="number" asp-for="Event.Recurrence!.Occurrences" class="form-control" />
        <span asp-validation-for="Event.Recurrence.Occurrences" class="text-danger"></span>
    </div>
</div>