@using Microsoft.AspNetCore.Identity;
@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;
@using Scheduler.Infrastructure.Persistence;
@using System.Text;

<div class="text-center mb-3 mt-3 noPrintIfModal">
	@if (this.User.IsInRole(Role.ADMIN))
	{
		<div class="row">
			<div class="col-md text-end">
				<div class="linkElement">
					<a asp-controller="Schedule" asp-action="" class="">
						Schedule New Event
					</a>
				</div>
			</div>
			<div class="col-md text-start">
				<div class="linkElement">
					<a asp-controller="Schedule" asp-action="CloseFacility" class="">
						Close Facility
					</a>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="linkElement">
			<a asp-controller="Schedule" asp-action="" class="">
				Schedule New Event
			</a>
		</div>
	}
	<div class="mt-3">
			<button class="buttonRed" onclick="gamesModal()">
				My Scheduled Games <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="top" title="Bring up a list of Scheduled Games for all of your teams."></i>
			</button>
			<button class="buttonRed" onclick="practicesModal()">
				My Scheduled Practices <i class="bi bi-question-circle calendar-full" data-bs-toggle="tooltip" data-bs-placement="top" title="Bring up a list of Scheduled Practices for all of your teams."></i>
			</button>
		</div>
	</div>
			
			
<div id="eventModal"></div>

<div id="calendar">
	@await this.Component.InvokeAsync("Calendar")
</div>

<script>
	function gamesModal() {
		$.ajax({
			url: '@this.Url.Action("coachEvents", "Dashboard")',
			data: {
				type: 'Game'
			},
			success: function(data) {
				$("#eventModal").html(data);
			}
		});
	}
	function practicesModal() {
		$.ajax({
			url: '@this.Url.Action("coachEvents", "Dashboard")',
			data: {
				type: 'Practice'
			},
			success: function(data) {
				$("#eventModal").html(data);
			}
		});
	}
</script>