@{
	this.ViewData["Title"] = "Events";
}

<div class="text-center mb-3 mt-3 noPrintIfModal">	
	<div class="linkElement">
		<a asp-controller="Schedule" asp-action="" class="mainButton">
			Schedule New Event
		</a>
	</div>

	<div>
		<button class="button buttonRed mt-3 coach-modal" onclick="gamesModal()">
			My Scheduled Games
		</button>

		<button class="button buttonRed mt-3 coach-modal" onclick="practicesModal()">
			My Scheduled Practices
		</button>
		@if (this.User.IsInRole(Role.ADMIN))
		{
			<form action="@this.Url.Action("CloseFacility", "Schedule")" method="get">
				<button type="submit" class="button buttonYellow mt-3" value="Update">Close Facility</button>
			</form>
		}
	</div>
</div>
				
<div id="eventModal"></div>

<div id="calendar">
	@await this.Component.InvokeAsync("Calendar")
</div>

<script>
	function gamesModal() {
		$.ajax({
			url: '@this.Url.Action("coachEvents", "Dashboard")',
			data: {
				type: 'Game'
			},
			success: function(data) {
				$("#eventModal").html(data);
			}
		});
	}

	function practicesModal() {
		$.ajax({
			url: '@this.Url.Action("coachEvents", "Dashboard")',
			data: {
				type: 'Practice'
			},
			success: function(data) {
				$("#eventModal").html(data);
			}
		});
	}
</script>