@using Microsoft.AspNetCore.Identity;
@using Scheduler.Domain.Repositories;
@using Scheduler.Domain.Specifications;
@using Scheduler.Infrastructure.Persistence;
@using System.Text;

<div class="text-center mb-3 mt-3 noPrintIfModal">
    <div>
        <a asp-controller="Schedule" asp-action="" class="btn btn-sm btn-primary rounded">
            Schedule New Event
        </a>
    </div>
	<div class="row mt-3">
		<div class="col-md text-end">
            <button class="btn btn-sm btn-secondary" onclick="gamesModal()">My Scheduled Games</button>
        </div>
        <div class="col-md text-start">
            <button class="btn btn-sm btn-success" onclick="practicesModal()">My Scheduled Practices</button>
        </div>
	</div>
</div>

<div id="eventModal">

</div>

<div id="calendar">
	@await Component.InvokeAsync("Calendar")
</div>

<script>
    function gamesModal() {
        $.ajax({
            url: '@Url.Action("coachEvents", "Dashboard")',
            data: {
                type: 'Game'
            },
            success: function(data) {
                $("#eventModal").html(data);
            }
        });
    }
    function practicesModal() {
        $.ajax({
            url: '@Url.Action("coachEvents", "Dashboard")',
            data: {
                type: 'Practice'
            },
            success: function(data) {
                $("#eventModal").html(data);
            }
        });
    }
</script>