@using Microsoft.AspNetCore.Identity;
@using Scheduler.Infrastructure.Persistence;
@using System.Text;

@inject UserManager<User> UserManager
@inject SchedulerContext Scheduler

@model IEnumerable<Event>

@{
	IEnumerable<Field> fields = this.Scheduler.Fields.ToList();
	IEnumerable<Team> teams = this.Scheduler.Teams.ToList();
}


<div class="text-center mb-3 mt-3">
	<a asp-controller="Schedule" asp-action="" class="btn btn-sm btn-primary rounded me-3">
		Schedule New Event
	</a>			
</div>

<div id="calendar">
	@(
		await Component.InvokeAsync("Calendar")
		)
</div>