@using Scheduler.Core.Models;

@{
    string currentType = "";
    string[] eventTypes = new[]
    {
        nameof(Event),
        nameof(Practice),
        nameof(Game)
    };
    if (User.IsInRole("Admin"))
    {
        currentType = this.ViewData["EventType"] as string ?? "Event";
    }
    else
    {
        currentType = this.ViewData["EventType"] as string ?? "Practice";

        eventTypes = new[]
        {
            nameof(Practice),
            nameof(Game)
        };
    }
}

<div class="list-group list-group-horizontal">
    @foreach (var eventType in eventTypes)
    {
        string activeCssClass = eventType == currentType
            ? "active"
            : string.Empty;

        <button type="button"
                id="@eventType"
                onclick="navClick('@eventType')"
                class="list-group-item list-group-item-action text-center @activeCssClass">
            @eventType
        </button>
    }
</div>