@{
    string currentType = this.ViewData["EventType"] as string ?? "Event";

    string[] eventTypes = new[] {""};
    @if (User.IsInRole("Admin"))
    {
        eventTypes = new[]
        {
            "Game",
            "Practice",
            "Event"
        };
    }
    else
    {
        eventTypes = new[]
        {
            "Game",
            "Practice"
        };
    }

}

<div class="list-group list-group-horizontal">
@foreach (var eventType in eventTypes)
{
    string activeCssClass = eventType == currentType
        ? "active"
        : string.Empty;

    <a asp-route-type="@eventType"
       class="list-group-item list-group-item-action text-center @activeCssClass">
        @eventType
    </a>
}
</div>