@using Scheduler.Web.Controllers;
@{
    ViewData["Title"] = "Home Page";
}
<div class="layoutContainer" style="padding-left:20px;padding-right:20px;border:2px solid gray;font-size:12px;">
    <h3 class="text-center text-danger">Welcome to the PCYS scheduling application.</h3>
        <p class="lead">Use the options below to search for dates and times of practices, games, and other events at the PCYS facility.</p>
    <p class="lead">To view the schedule for your team, start by selecting a team name from the dropdown list. Then you can choose a date or date range from the calendar, or view all scheduled times for your team.</p>
    <p class="lead">To view scheduled events for the facility, please choose a date or date range. You can also view the schedule for individual fields by selecting from the list, or search for specific events by name.</p>
</div>
<div class="col-sm-6">
    <div class="container mb-2">
        <div class="row mb-1">
            <div class="col-12" mx-auto>
                <h3 class="text-center text-danger">Upcoming Events</h3>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-8 mb-2">
                <input class="w-100 form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 border border-2 w-100 searchContainer">
            </div>
        </div>
    </div>
</div>
