@using Scheduler.Web.Controllers;
@{
    ViewData["Title"] = "Home Page";
}
<div class="col-sm-6">
    <div class="container mb-2">
        <div class="row mb-1">
            <div class="col-12" mx-auto>
                <h3 class="text-center">Upcoming games</h3>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-8 mb-2">
                <input class="w-100 form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 border border-2 w-100 searchContainer">
            </div>
        </div>
    </div>
</div>
