@using Scheduler.Domain.Services;
@using Scheduler;

@inject IDateProvider DateProvider

@model Event;

@{
	this.ViewData["Title"] = "Schedule Facility Closure";

	string today = this.DateProvider.Now.ToString(Constants.DATE_FORMAT);
	string startDateString = this.Model.StartDate.ToString("yyyy-MM-dd");
	string endDateString = this.Model.EndDate.ToString("yyyy-MM-dd");
}

<div class="row">
	<div class="col-sm-6 mx-auto">
		<form method="post" asp-action="CloseFacility" asp-controller="Schedule">
			<div class="row mb-3">
				<h1 class="text-center">
					@this.ViewData["Title"] <span id="title"></span>
				</h1>
				<hr />
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="row mb-3">
				<div>
					<label class="form-label">Closure Dates <i class="bi bi-question-circle" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>To use the PCYS Date Picker:</b><br /><br /><b>Picking a single date:</b> Click twice on the desired day.<br /><br /><b>Picking a range of days:</b> Click once on the starting day, then click on the ending day. The highlight between the days will show the range.<br /><br />Once the desired dates are selected and shown at the bottom, click 'Apply' and confirm that the desired dates show in the resulting box.<br /><br />Do not click outside of the datepicker box without clicking 'Apply' or the new dates will <u>not</u> be applied."></i></label>
					<input type="text" name="daterange" class="text-center form-control" />
				</div>
				<div>
					<input asp-for="StartDate" type="hidden" id="StartDate" />
					<span asp-validation-for="StartDate" class="text-danger"></span>
					<br />
				</div>
				<div>
					<input asp-for="EndDate" type="hidden" id="EndDate" />
					<span asp-validation-for="EndDate" class="text-danger"></span>
				</div>
				<input asp-for="Name" type="hidden"/>
				<input asp-for="Id" type="hidden" />
				<input asp-for="UserId" type="hidden"/>
				<input asp-for="IsBlackout" type="hidden"/>
			</div>
			<div class="row mb-3">
				<div class="col-6 linkElement">
					<a asp-controller="Dashboard" asp-action="Events" type="button" class="button buttonRedOutline w-100">Cancel</a>
				</div>
				<div class="col-6 linkElement">
					<button type="submit" class="formSubmit button buttonYellow w-100">
						Close Facility
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
	var startDateString = "@startDateString";
	var endDateString = "@endDateString";
	var minDateString = "@today";
	var startDate;
	var startDateFormatted;
	var endDate;
	var endDateFormatted;
	var minDate;
	var minDateFormatted;
	startDate = moment(startDateString, "YYYY-MM-DD"); // Parse the start date string and specify the format
	startDateFormatted = startDate.format('M/DD/YYYY'); // Format the start date as desired
	endDate = moment(endDateString, "YYYY-MM-DD"); // Parse the end date string and specify the format
	endDateFormatted = endDate.format('M/DD/YYYY'); // Format the end date as desired
	minDate = moment(minDateString, "YYYY-MM-DD"); // Parse the min date string and specify the format
	minDateFormatted = minDate.format('M/DD/YYYY'); // Format the min date as desired
	$('#StartDate').val(startDateFormatted); // Set initial value of StartDate on the form
	$('#EndDate').val(endDateFormatted); // Set initial value of EndDate on the form

	console.log('hit')

	$(function () {
		console.log('hit')
		$('input[name="daterange"]').daterangepicker({
			startDate: startDateFormatted,
			endDate: endDateFormatted,
			minDate: minDateFormatted,
			drops: "down",
			locale: {
				format: 'M/DD/YYYY'
			}
		}).on('apply.daterangepicker', function (ev, picker) {
			startDateFormatted = picker.startDate.format('M/DD/YYYY');
			endDateFormatted = picker.endDate.format('M/DD/YYYY');
			$('#StartDate').val(startDateFormatted); // Resets the value of StartDate when "Apply" is pressed
			$('#EndDate').val(endDateFormatted); // Resets the value of EndDate when "Apply" is pressed
		});
	});
</script>