@using Scheduler.Web.Controllers;
@using Scheduler.Web.ViewModels;

@model LoginViewModel

@{
    this.ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            <h1 class="text-center">
                @this.ViewData["Title"]
            </h1>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Credentials.Email"
                       class="form-control"
                       autocomplete="username"
                       aria-required="true" />

                <label asp-for="Credentials.Email" class="form-label"></label>
                <span asp-validation-for="Credentials.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Credentials.Password"
                       class="form-control"
                       autocomplete="current-password"
                       aria-required="true" />

                <label asp-for="Credentials.Password" class="form-label"></label>
                <span asp-validation-for="Credentials.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="checkbox">
                    <input class="form-check-input" asp-for="RememberMe" />
                    <label asp-for="RememberMe" class="form-label">
                        Remember me?
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <button id="login-submit"
                        type="submit"
                        class="w-100 btn btn-lg btn-primary">
                    Log in
                </button>
            </div>
            <div class="mb-3">
                <a asp-controller="Identity"
                   asp-action="@nameof(IdentityController.Register)">
                    Register as a new user
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
