<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCYS Scheduler - @this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Scheduler.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="topNav" class="has-site-logo topNav">
        <div id="sn-site-logo">
            <a class="sn-site-logo-wrap" asp-controller="Home" asp-action="Index">
                <span class="sn-site-logo-background" style="background-image: url(https://cdn1.sportngin.com/attachments/logo_graphic/f8ca-170838662/2022PCYSlogo_2COLORrednoS-Small_small.png);"></span>
            </a>
        </div>
        <div class="theme-search-wrapper">
            <div class="theme-search-bar">
                <span class="site-tagline-text">Portage County Youth Soccer</span>
            </div>
        </div>
        <div class="theme-main-nav">
            <ul class="theme-nav theme-nav-style-dropdown" data-nav-level="1">
                <li class="theme-nav-item">
                    <a class="theme-nav-link"
                       asp-controller="Home"
                       asp-action="Index">
                        Home
                    </a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
    <div id="topNavPlaceholder" class="page-has-banner"></div>
    <div class="site-banner-wrapper">
        <div class="site-banner-text-wrapper"></div>
    </div>
    <div id="siteContainer" class="container-fluid siteContainer p-2">
        @this.RenderBody()
    </div>

    <footer class="snFooterContainer">
        <div id="siteFooter">
            &copy; 2023 - PCYS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
