@using Microsoft.AspNetCore.Identity
@using Scheduler.Web.Controllers;
@using Scheduler.Core.Models.Identity;

@inject SignInManager<User> SignInManager

@if (this.SignInManager.IsSignedIn(this.User))
{
        <li class="theme-nav-item">
            <a class="theme-nav-link" asp-controller="Admin" asp-action="Index">
                Dashboard
            </a>
        </li>

        <li class="theme-nav-item">
            <a class="theme-nav-link" asp-controller="Identity" asp-action="Manage">
                Manage Profile
            </a>
        </li>
        <li class="theme-nav-item justify-content-end">
            <form class="form-inline"
                    asp-controller="Identity"
                    asp-action="@nameof(IdentityController.Logout)">
                <button type="submit"
                        class="theme-nav-link btn btn-link">
                    Logout
                </button>
            </form>
        </li>
}
else
{
    <li class="theme-nav-item">
        <a class="theme-nav-link"
           asp-controller="Identity"
           asp-action="@nameof(IdentityController.Register)">
            Register
        </a>
    </li>
    <li class="theme-nav-item">
        <a class="theme-nav-link"
           asp-controller="Identity"
           asp-action="@nameof(IdentityController.Login)">
            Login
        </a>
    </li>
}
</>
