@model Field

@{
    this.ViewData["Title"] = this.Model.Name;
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            <h1 class="text-center text-danger">
                @this.ViewData["Title"]
            </h1>
            <hr />

            @await this.Html.PartialAsync("Forms/_FieldInputs", this.Model)
        </form>
    </div>
</div>