@using Scheduler.Core.Models;
@using Scheduler.Core.Services;
@using System.Security.Claims;
@using Scheduler.Web.Controllers;

@inject IFieldService FieldService
@model Event

<input asp-for="UserId"
       type="hidden"
       value="@this.User.FindFirst(ClaimTypes.NameIdentifier)!.Value" />

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="row mb-3">
    <div class="col-6">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" type="date" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" type="date" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
</div>
<div class="form-check mb-3">
    <input asp-for="IsRecurring" type="checkbox" class="form-check-input">
    <label asp-for="IsRecurring" class="form-check-label"></label>
</div>
<div class="mb-3">
    <label asp-for="FieldIds" class="form-label"></label>
    <select class="form-select"
            multiple
            size="6"
            asp-for="FieldIds"
            asp-items="this.FieldService
                        .GetAllAsync()
                        .Result
                        .Select(field => new SelectListItem
                        {
                            Text = field.Name,
                            Value = field.Id.ToString()
                        })"></select>
</div>