@using Scheduler.Web.Controllers;

@model Field

@if (this.Model is not null)
{
    <input hidden asp-for="Id" />
}

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="row mb-3">
    <div class="col-6">
        <a asp-action="@nameof(DashboardController.Fields)"
           asp-controller="Dashboard"
           class="btn btn-lg btn-danger w-100">
            Cancel
        </a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-lg btn-primary w-100">
            Submit
        </button>
    </div>
</div>
