@using Scheduler.Web.Persistence;
@using Scheduler.Web.Extensions;

@{
    string eventType = this.ViewData["EventType"] as string ?? "Game";

    var items = this.Scheduler
        .GetAll<Team>()
        .ToList()
        .Select(t => new SelectListItem()
        {
            Text = t.Name,
            Value = t.Id.ToString()
        });
}

@inject SchedulerContext Scheduler
@model Game

<div class="row mb-3">
    <div class="col-sm-6">
        <label asp-for="HomeTeamId" class="form-label"></label>
        <select asp-for="HomeTeamId"
                asp-items="items"
                class="form-select"></select>
    </div>
    <div class="col-sm-6">
        <label asp-for="OpposingTeamId" class="form-label"></label>
        <select asp-for="OpposingTeamId"
                asp-items="items"
                class="form-select"></select>
    </div>
    <span asp-validation-for="OpposingTeamId" class="text-danger"></span>
</div>