@model ScheduleViewModel<Event>

@if (this.Model is not null &&
     this.Model.Event.Recurrence is not null)
{
    <input hidden asp-for="Event.Recurrence!.Id" value="@this.Model.Event.Recurrence.Id" />
}

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="Event.Recurrence!.Type" class="form-label"></label>
        <select asp-for="Event.Recurrence!.Type"
                asp-items="@this.Html.GetEnumSelectList<RecurrenceType>()"
                class="form-control"></select>
    </div>
    <div class="col-6">
        <label asp-for="Event.Recurrence!.Occurrences" class="form-label"></label>
        <input type="number" min="1" max="255" asp-for="Event.Recurrence!.Occurrences" class="form-control" />
        <span asp-validation-for="Event.Recurrence!.Occurrences" class="text-danger"></span>
    </div>
</div>
