@model Event

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="Recurrence.Type" class="form-label"></label>
        <select asp-for="Recurrence.Type"
                asp-items="@this.Html.GetEnumSelectList<RecurrenceType>()"
                class="form-control"></select>
    </div>
    <div class="col-6">
        <label asp-for="Recurrence.Occurences" class="form-label"></label>
        <input type="number" asp-for="Recurrence.Occurences" class="form-control" />
    </div>
</div>