@using Scheduler.Web.ViewModels.Scheduling;

@model EventModel

<div class="row mb-3">
    <div class="col-6">
        <label asp-for="Recurrence!.Type" class="form-label"></label>
        <select asp-for="Recurrence!.Type"
                asp-items="@this.Html.GetEnumSelectList<RecurrenceType>()"
                class="form-control"></select>
    </div>
    <div class="col-6">
        <label asp-for="Recurrence!.Occurrences" class="form-label"></label>
        <input type="number" min="1" max="255" asp-for="Recurrence!.Occurrences" class="form-control" />
        <span asp-validation-for="Recurrence!.Occurrences" class="text-danger"></span>
    </div>
</div>