@using Scheduler.Web.Controllers;
@using Scheduler.Core.Services;

@inject IRepository<League> LeagueService
@model Team

<div class="row mb-3">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LeagueId" class="form-label">League</label>
        <select class="form-select"
                size="6"
                asp-for="LeagueId"
                asp-items="this.LeagueService
            .GetAllAsync()
            .Result
            .Select(league => new SelectListItem
            {
                Text = league.Name,
                Value = league.Id.ToString(),
                Selected = this.Model is not null && this.Model.League is not null
            })"></select>
        <span asp-validation-for="LeagueId" class="text-danger"></span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6">
        <a asp-action="@nameof(DashboardController.Teams)"
           asp-controller="Dashboard"
           class="btn btn-lg btn-danger w-100">
            Cancel
        </a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-lg btn-primary w-100">
            Submit
        </button>
    </div>
</div>